.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #ffc2e6;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --content-section-title-color: #353430;
  --title-text-color: #353430;
  --header-title-color: #ffc2e6;
  --focus-color: #ff0070;
  --nav-list-color: #353430;
  --hover-border-color: rgba(255, 0, 112, .4);
  --hover-color: rgba(53, 52, 48, .4);
  --background-pic: url(../images/cover-image-light.png);
}



/*.theme_light .header {
  background-image: none;
}

.theme_light span {
  display: none;
}

.theme_light .decorated-zone::before {
  border-inline-end: 1px solid var(--main-text-color);
  border-block-start: 1px solid var(--main-text-color);
}

.theme_light .decorated-zone::after {
  border-inline-start: 1px solid var(--main-text-color);
  border-block-end: 1px solid var(--main-text-color);
}

.theme_light .header__theme-menu::before {
  display: none;
}

.theme_light .header__theme-menu-list {
  color: inherit;
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--main-text-color);
}

.theme_light .header__theme-menu-button_type_light:hover {
  border: 1px solid;
  outline-color: rgba(53, 52, 48, .4);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--hover-border-color);
}

.theme_light .header__theme-menu-button_type_dark:focus-visible {
  border-bottom: 1px solid var(--hover-border-color);
}

.theme_light .header__theme-menu-button_type_light:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
}

.theme_light .header__title {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.theme_light .header__text {
  color: inherit;
}

.theme_light .content__section-title {
  color: inherit;
}

.theme_light .content__section-subtitle {
  color: inherit;
}

.theme_light .card__title {
  color: inherit;
}

.theme_light .footer__title {
  text-shadow: 2px 2px 0px var(--shadow-color);
}

@media (width < 1024px) {
  .theme_light .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .theme_light .footer__title {
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}